<!DOCTYPE html>
<html lang="en" ng-app="Converse">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
    <script src="firebase.js"></script>
    <script src="converse.js"></script>
    <link rel="stylesheet" href="bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="background-color:green; position:sticky;" class="btn-block">
        <p>
            <a href=" Login.html " class="btn btn-info btn-lg ">
                <span class="glyphicon glyphicon-user "></span> Login
            </a>
        </p>

    </div>
    <div ng-controller="Conversations as conv ">
        <input type="text " ng-model="conv.text " ng-keypress="$event.charcode==13&&conv.send(conv.text) " placeholder="Say Hi! " class="btn-block">
        <button class="btn btn-lg btn-block ">Send</button>
        <button>login with google</button>
        <p ng-repeat="msg in conv.conversation ">{{msg.sender}}-->{{msg.message}}</p>
    </div>

</body>

</html>